<section>
	<p>We have compiled a collection of shortcut methods for questions which often appear in entry tests. Now you don't have to waste your hard earned money on those expensive entry test preparation classes which can cost more than 30,000 PKR! щ(゜ロ゜щ)</p>

	<h3>Table of Contents</h3>
	<ol>
		<li><a href="articles/the-best-shortcut-methods-for-entry-tests/#math">Mathematics</a></li>
		<li><a href="articles/the-best-shortcut-methods-for-entry-tests/#physics">Physics</a></li>
		<li><a href="articles/the-best-shortcut-methods-for-entry-tests/#chemistry">Chemistry</a></li>
		<li><a href="articles/the-best-shortcut-methods-for-entry-tests/#others">Others</a></li>
	</ol>
</section>

<h2 id="math">Mathematics</h2>
<section>
	<p>We all know this is the most important subject, and the most difficult. The good news is that it has a lot of shortcut techniques for various types of problems. So let's get started and see how we can simplify the solutions of the most trickiest problems.</p>

	<h3>Fraction Representing Recurring Decimal Digits</h3>
	<p>It is quite easy to find out the fraction representing the recurring decimal such as 0.<span style="text-decoration: overline;">37</span>. You just have to take the recurring part, and divide it by 99. So \( \frac{37}{99} \) will be the fraction representing 0.<span style="text-decoration: overline;">37</span>.</p>

	<p>But if you had to find out the fraction which represents 1.1<span style="text-decoration: overline;">45</span>, it wouldn't be so simple. So here's the trick. Write the whole number without any decimal point, subtract the non-recurring part from it, and then divide it by 990 (two 9's for number of recurring decimal digits and a zero for each non-recurring digit after decimal point).</p>
	<ol class="no-bullets">
		<li>$$ 1.1\overline{45} = \frac{1145 - 11}{990} $$</li>
		<li>$$ 1.1\overline{45} = \frac{1134}{990} $$</li>
	</ol>
	
	<p>Try it now and see the magic yourself!</p>

	<h3>Sum of <em>n</em> Arithematic Means Between <em>a</em> and <em>b</em></h3>
	<p>This is a simple problem. But if done the traditional way, it can take some time, and we don't want to waste any second during an entry test which is going to decide your fate! HIT LIKE IF YOU AGREE!!! So here's what you need to quickly calculate the sum of <em>n</em> arithematic means between some number <em>a</em> and another number <em>b</em>:</p>
	<ol class="no-bullets">
		<li>$$ \sum = \frac{n(a + b)}{2} $$</li>
	</ol>
	
	<h3>Restricted Permutations</h3>
	<p>Restricted permutations can be defined as the number of permutations of <em>n</em> things, taken <em>r</em> at a time, while keeping <em>m</em> specific things together. For example, if you have to calculate how many words can be formed by the letters of "VALUE" while keeping the vowels together. You can use the following formula: <strong>m!(n - m + 1)!</strong></p>
	<ol class="no-bullets">
		<li>Number of vowels = m = 3, Total letters = n = 5</li>
		<li>Required Permutations = P = 3!(5 - 3 + 1)!</li>
		<li>P = 6(3)! = 6 &times; 6</li>
		<li>P = 36</li>
	</ol>

	<h3>Permutations While Not Keeping Things Together</h3>
	<p>Same as before, the only difference being that in this case you have to exclude the cases in which specified things are together. The formula in this case is: <strong>n! - m!(n - m + 1)!</strong></p>

	<h3>Derangement</h3>
	<blockquote>In combinatorial mathematics, a derangement is a permutation of the elements of a set, such that no element appears in its original position. The number of derangements of a set of size n, usually written <strong>Dn, dn, or !n</strong>, is called the "derangement number" or "de Montmort number".</blockquote>

	<p>Consider the problem statement: &ldquo;An evil post man delivers 4 letters to 4 houses in such a way that none of them gets it right. This can be done in how many ways?&rdquo; There's a simple formula for this derangement problem: $$ (\frac{1}{0!} - \frac{1}{1!} + \frac{1}{2!} - ... - \frac{1}{n!})n! $$</p>
	<ol class="no-bullets">
		<li>In the above problem, number of letters = n = 4</li>
		<li>$$ !n = (\frac{1}{0!} - \frac{1}{1!} + \frac{1}{2!} - \frac{1}{3!} + \frac{1}{4!}) \times 4! $$</li>
		<li>$$ !n = (\frac{1}{2} - \frac{1}{6} + \frac{1}{24}) \times 24 $$</li>
		<li>$$ !n = (\frac{9}{24}) \times 24 $$</li>
		<li>$$ !n = 9 $$</li>
	</ol>

	<h3>Trigonometric function values</h3>
	<p>If you have already learnt this by your heart, then you don't need to worry. Most of the trigonometric problems will be easy for you. But if you haven't, you should do it now!</p>
	<table class="bordered">
		<thead>
			<tr>
				<td>Function/Angle</td>
				<td>0&deg; (0)</td>
				<td>30&deg; (&pi;/6)</td>
				<td>45&deg; (&pi;/4)</td>
				<td>60&deg; (&pi;/3)</td>
				<td>90&deg; (&pi;/2)</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>sin&theta;</td>
				<td>0</td>
				<td>\( \frac{1}{2} \)</td>
				<td>\( \frac{1}{ \sqrt{2} } \)</td>
				<td>\( \frac{ \sqrt{3} }{2} \)</td>
				<td>1</td>
			</tr>
			<tr>
				<td>cos&theta;</td>
				<td>1</td>
				<td>\( \frac{ \sqrt{3} }{2} \)</td>
				<td>\( \frac{1}{ \sqrt{2} } \)</td>
				<td>\( \frac{1}{2} \)</td>
				<td>0</td>
			</tr>
			<tr>
				<td>tan&theta;</td>
				<td>0</td>
				<td>\( \frac{1}{ \sqrt{3} } \)</td>
				<td>1</td>
				<td>\( \sqrt{3} \)</td>
				<td>undefined</td>
			</tr>
		</tbody>
	</table>

	<h3>Period of Trigonometric Function</h3>
	<p>The periods of complex trigonometric function can be calculated with this simple trick: <strong>Period of given trigonometric function = \( \frac{original\ period}{co-efficient\ of\ x}\)</strong></p>
	<ol class="no-bullets">
		<li>For example, find the period of \( 13sin\frac{3x}{2} \)</li>
		<li>$$ Period = \frac{original\ period\ of\ sin}{co-effecient\ of\ x} = \frac{2&pi;}{3/2} $$</li>
		<li>$$ Period = \frac{4&pi;}{3} $$</li>
	</ol>

	<h3>Integration</h3>
	<p>Calculus related problems in entry tests are often very tricky. So we will list some shortcut techniques which will help you understand and solve them.</p>
	<ol>
		<li><h4>Even and Odd Functions</h4>
			<p>For a reminder, see <a href="https://www.mathsisfun.com/algebra/functions-odd-even.html" target="_blank">Even and Odd functions by Math is Fun</a>. Consider an odd function f(x) which satisfies the condition f(x) = -f(-x) for all values of x. So, for any finite value of n, $$ \int_{-n}^{n} f(x)\ d(x) = 0 $$</p>
			<p>For an even function g(x) which satisfies the condition g(x) = g(-x) for all values of x, for any finite value of n, $$ \int_{-n}^{n} g(x)\ d(x) = 2\int_{0}^{n} g(x)\ d(x) $$</p>
		</li>
		<li><h4>Integration by Parts</h4>
			<p>Integration by parts is a powerful technique, and can solve many problems. You should know this in detail from 2<sup>nd</sup> year text-book, so here we will just state the formula. For any differentiable functions \( f(x) \) and \( g(x) \), $$ \int f(x) g\prime(x) dx = f(x)g(x) - \int g(x) f\prime(x) dx $$</p>
		</li>
		<li><h4>Trigonometric Substitutions</h4>
			<p>The following trigonometric substitutions often simplify the solution to many integration problems:</p>
			<ol>
				<li>$$ sin^{2}x + cos^{2}x = 1 $$ The above identity allows us to solve \(1 - x^{2} \) terms. Similarly, the hyperbolic identity: $$ cosh^{2}x - sinh^{2}x = 1 $$ allows us to solve \( 1 + x^{2} \) terms.</li>
				<li>Double Angle Formulae,
				$$ sin2x = 2cos(x)sin(x) $$
				
				$$ cos2x = cos^{2}x - sin^{2}x $$
				$$ = 2cos^{2}x - 1 $$
				$$ = 1 - 2sin^{2}x $$
				
				$$ tan2x = \frac{ 2tanx }{ 1 - tan^{2}x } $$
				</li>
				<li>Product to Sum Identities,
				$$ cosAcosB = \frac{1}{2}(cos(A - B) + cos(A + B)) $$
				$$ sinAcosB = \frac{1}{2}(sin(A - B) + sin(A + B)) $$
				$$ cosAsinB = \frac{1}{2}(sin(A + B) - sin(A - B)) $$
				$$ sinAsinB = \frac{1}{2}(cos(A - B) - cos(A + B)) $$
				</li>
			</ol>
		</li>
		<li><h4>Weierstrass Substitution (Tangent half-angle substitution)</h4>
			<p>It may sound scary by its name, but you have studied and used it in second year.</p>
			$$ sinx = \frac{ 2t }{ 1 + t^{2} } $$
			$$ cosx = \frac{ 1 - t^{2} }{ 1 + t^{2} } $$
			$$ dx = \frac{2}{ 1 + t^{2} }dt $$
		</li>
	</ol>

	<p>For a more in-depth study (and more, but out of scope, techniques) see <a href="https://brilliant.org/wiki/integration-tricks/" target="_blank">Brilliant's Integration Wiki</a>.</p>

	<h3>L'Hopital's Rule</h3>
	<blockquote>
		L'Hôpital's rule states that for functions <strong>f</strong> and <strong>g</strong> which are differentiable on an open interval <strong>I</strong> except possibly at a point <strong>c</strong> contained in <strong>I</strong>, if
		<ul class="no-bullets">
			<li>$$ \lim_{x\rightarrow c} f(x) = \lim_{x\rightarrow c} g(x) = 0\ or \pm\infty, $$</li>
			<li>$$ g\prime (x) \neq 0,\ for\ all\ x\ in\ I, $$</li>
			<li>$$ \lim_{x\rightarrow c} \frac{ f(x) }{ g(x) } = \lim_{x\rightarrow c} \frac{ f\prime (x) }{ g\prime (x) } $$</li>
		</ul>
	</blockquote>

	<ol class="no-bullets">
		<li>For example, find the limit: $$ \lim_{x\rightarrow 3} \frac{ \sqrt{x} - \sqrt{3} }{ x - 3 } $$</li>
		<li>$$ = \lim_{x\rightarrow 3} \frac{ \frac{1}{ 2\sqrt{x} } - 0}{ 1 } $$</li>
		<li>Applying limit, $$ = \frac{1}{ 2\sqrt{3} } $$</li>
	</ol>

	<h3>Acceleration by Derivative</h3>
	<p>This technique can be helpful in both Mathematics and Physics. If you are given velocity of an object in the form of a function, for example, <strong><em>v = 4 - t<sup>2</sup> m/s</em></strong>, and asked to find acceleration after some time <strong>t</strong>; you can easily calculate it using derivatives. Let's say we have to find acceleration when t = 4 s. Differentiating <strong>v</strong> with respect to <strong>t</strong>:</p>
	<ul class="no-bullets">
		<li>$$ \frac{dv}{dt} = -2t $$</li>
		<li>Putting value of t,</li>
		<li>$$ \frac{dv}{dt} = -2(4) = -8\ m/s^{2} $$</li>
		<li>So, <strong>a = -8 m/s<sup>2</sup></strong></li>
	</ul>
	
	<h3>Logarithmic Stuff to Remember</h3>
	<p>Some logarithmic formulae and properties which are often needed, and you should remember.</p>
	<ol>
		<li>$$ \frac{ log_{a} }{ log_{b} } = log_{b}a $$</li>
		<li>$$ log_{a}y = \frac{1}{ log_{y}a } $$</li>
		<li>$$ log_{a^{x}}b^{y} = \frac{y}{x} \times log_{a}b $$</li>
		<li>$$ log_{a}a = 1 $$</li>
		<li>$$ log_{a}1 = 0 $$</li>
	</ol>

	<h3>Distance Between Two (Parallel) Lines</h3>
	<p>If two lines are non-parallel, they intersect each other at some point. So the distance between them is always 0. So whenever you are asked to calculate the distance between two lines, it is most likely that they are not parallel. The formula is:
	$$ d = \frac{ |c_{2} - c_{1}| }{ \sqrt{a^{2} + b^{2}} } $$</p>

	<p>For example, calculate the perpendicular distance between <strong>2x - y + 2 = 0</strong> and <strong>2x - y + 4 = 0</strong>.</p>
	<ol class="no-bullets">
		<li>In this case, c<sub>1</sub> = 2, c<sub>2</sub> = 4, a (co-efficient of x) = 2, b (co-efficient of y) = 1.</li>
		<li>$$ d = \frac{4 - 2}{ \sqrt{2^{2} + 1^{2}} } = \frac{2}{ \sqrt{4 + 1} } $$</li>
		<li>$$ d = \frac{2}{\sqrt{5}} $$</li>
	</ol>

	<p>If, in the MCQs, the options have same denominator, you just have to calculate <strong>|c<sub>2</sub> - c<sub>1</sub>|</strong>.</p>

	<h3>Angle Between Two Vectors if <em>x</em> is Negative</h3>
	<p>You know the formula to calculate the angle between two vectors: 
	$$ cos&theta; = \frac{ \vec{a}.\vec{b} }{ |\vec{a}|.|\vec{b}| } $$</p>

	<p>But what if \( \frac{ \vec{a}.\vec{b} }{ |\vec{a}|.|\vec{b}| } \) turns out to be negative. How will you calculate <strong>cos<sup>-1</sup>(-x)</strong>? Well there's a simple equation for that: 
	$$ cos^{-1}(-x) = &pi; - cos^{-1}(x) $$</p>
</section>

<h2 id="physics">Physics</h2>
<section>
	<h3>Angle for Percentage of Work Done</h3>
	<p>It is a simple one, but can be confusing for many. Let's say you have to find out the angle &theta;, for which the work done will be 70% of maximum work done?</p>

	<p>First we need to know what is maximum work. Maximum work is done when the applied force and direction of displacement are in the same direction (or the angle between <strong>F</strong> and <strong>d</strong> is 0&deg;): <strong>W = Fdcos&theta;; &theta; = 0&deg; &Implies; W = Fd (&because; cos0&deg; = 1)</strong>. Which is 100% of the maximum work.</p>

	<p>So to find 70% of the maximum work, we need cos&theta; = 0.7, therefore, we can easily find the angle for which work done is 70% of maximum work done.</p>
	<ol class="no-bullets">
		<li>cos&theta; = 0.7</li>
		<li>&theta; = cos<sup>-1</sup>(0.7)</li>
		<li>&theta; = 45.57&deg; &approx; 45&deg;</li>
	</ol>

	<h3>Resistance Between The ends of a Circular Wire</h3>
	<p>Now this is a tricky problem. Consider the situation: A wire of R ohms is bent into a circle. What will be the resistance between the ends of its diameter?</p>

	<p>The diameter <span style="text-decoration: overline;">AB</span> (see the diagram below) will divide the circle in two portions. Both the upper-half and the lower-half will have R/2 resistance. This is equivalent of a parallel circuit. Now all we need to do is apply the parallel equivalent resistance formula:
	$$ \frac{1}{R_{eq}} = \frac{1}{R_{1}} + \frac{1}{R_{2}} = \frac{2}{R} + \frac{2}{R} = \frac{4}{R} \implies R_{AB} = \frac{R}{4} $$</p>
	<img src="./images/articles/the-best-shortcut-methods-for-entry-tests/resistance-diameter.png" class="full-width" alt="Resistance between diameter diagram." />

	<h3>Tension in Pendulum's String</h3>
	<p>When we move a simple pendulum's bob from its mean position to an extreme, does the tension in the string increase or decrease?</p>

	<div class="center">
		<img src="./images/articles/the-best-shortcut-methods-for-entry-tests/pendulum.jpg" alt="Pendulum diagram" />
	</div>

	<p>We know that Tension = <strong>T = mgcos&theta;</strong>, where <strong>mg</strong> is the weight of the bob, and &theta; is the angle between the mean and extreme positon of the simple pendulum. As the weight <strong>mg</strong> remains constant, so <strong>T &propto; cos&theta;</strong>. Which means that the tension in the string depends on cos&theta;. As you can see in the trigonometric functions table, the value of cos&theta; decreases as &theta; increases. So we can conclude that <em>the tension in the string decreases</em> as the pendulum moves towards the extreme.</p>

	<h3>Logic Gates Combination</h3>
	<p>Just know this, NAND and NOR gates are called <em>Universal gates</em>. That is because we can build every other logic gate using just these two. This knowledge often helps in problems where you have to find the output of a combination of logic gates.</p>

	<p>One NAND can act as a NOT gate. Three NAND gates can make an OR gate.</p>
	<img src="./images/articles/the-best-shortcut-methods-for-entry-tests/logic-gates.jpg" alt="Universal logic gates diagram." />
	<p>Similarly, three NOR gates can make an AND gate.</p>
</section>

<h2 id="chemistry">Chemistry</h2>
<section>
	<h3>Amount of Product Formed</h3>
	<p>If 0.5 moles of each Aluminium and Oxygen react with each other to produce Aluminium Oxide. What is the amount of product formed?</p>

	<p>The balanced equation of the above mentioned readction is: 
	$$ 4Al + 3O_{2} \rightarrow 2Al_{2}O_{3} $$ 
	Now applying Stoichiometry rule,</p>
	<table class="bordered center" style="width: 50%;">
		<tr>
			<td>Al</td>
			<td>\( Al_{2}O_{3} \)</td>
		</tr>
		<tr>
			<td>4</td>
			<td>2</td>
		</tr>
		<tr>
			<td>0.5</td>
			<td>x</td>
		</tr>
	</table>

	<p>By cross multiplication, $$ x = \frac{0.5 \times 2}{4} = 0.25\ mole $$ 
	Now doing same for Oxygen,</p>
	<table class="bordered center" style="width: 50%;">
		<tr>
			<td>\( O_{2} \)</td>
			<td>\( Al_{2}O_{3} \)</td>
		</tr>
		<tr>
			<td>3</td>
			<td>2</td>
		</tr>
		<tr>
			<td>0.5</td>
			<td>x</td>
		</tr>
	</table>
	<p>By cross multiplication, $$ x = \frac{0.5 \times 2}{3} = 0.33\ mole $$ 
	As we know that Aluminium is the <strong>limiting reactant</strong>, so <strong>0.25</strong> mole is the amount of product formed.</p>

	<p>Similar questions are what is the limiting reactant in the given reaction? And How much oxygen is left after the reaction?</p>

	<h3>Anhydride</h3>
	<blockquote>Anhydride is any chemical compound obtained, either in practice or in principle, by the elimination of water from another compound.</blockquote>
	<p>Consider the question: P<sub>2</sub>O<sub>5</sub> is anhydride of which of the following?
	<ol type="i">
		<li>HPO<sub>3</sub></li>
		<li>H<sub>3</sub>PO<sub>4</sub></li>
		<li>Both (i) and (ii)</li>
		<li>None</li>
	</ol>

	<p>Alright. By adding H<sub>2</sub>O to P<sub>2</sub>O<sub>5</sub>, we obtain <strong>H<sub>2</sub>P<sub>2</sub>O<sub>6</sub></strong>. Taking 2 common, we get <strong>HPO<sub>3</sub></strong>. But it doesn't end here, since there is another way of doing it.</p>

	<p>Consider the possibility of <strong>2H<sub>3</sub>PO<sub>4</sub></strong>. By removing three Water molecules from it, we can obtain P<sub>2</sub>O<sub>5</sub>. Therefore, P<sub>2</sub>O<sub>5</sub> is also an anhydride of H<sub>3</sub>PO<sub>4</sub>. The balanced equation will be: $$ 2H_{3}PO_{4} &Equilibrium; P_{2}O_{5} + 3H_{2}O $$ So the correct option is (iii), both (i) and (ii).</p>

	<p>So it is highly recommended that you carefully look at all options, and then make a judgement. It is difficult since you also have to manage time.</p>
</section>

<h2 id="others">Others</h2>
<section>
	<p>As for other subjects, such as Biology, Computer Science, English, there are really no shortcut techniques. That's mainly because shortcut methods tend to be more mathematical.</p>

	<h4>Know a trick or shortcut we didn't mention? Share it with others in the comments. Ask any question if you have confusion. Share this article if you think someone might benefit from it! :)</h4>
</section>