<section>
	<p>In the coming months, you are about to face the much revered NUST entry test, so just relax for a while, <i>because we are going</i> to debunk the whole myth about the test and guide you about how you should tackle it and prepare for it. If this is not the first time you are going to take NET, then you should start from <a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#admission">Admission Requirements</a>.</p>

	<p>Primary focus of this article is Engineering &amp; IT test but some of the discussion will also benefit medical students. If you are only looking for preparation material, then I would recommend trying out our <a href="http://notesnetwork.org/online-tests/NET/" onclick="javascript:ga('send', 'event', 'Marketing', 'Clicked', 'Sent from article to NET mock-up');" target="_blank">online NET mock-up</a>!</p>

	<h3>Table of Contents</h3>
	<ol>
		<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#intro">Introduction</a>
			<ul>
				<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#what-why">What is NET? And Why Should You Care?</a></li>
				<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#net-1-2-3">NET-1, NET-2, NET-3?</a></li>
				<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#net-difficult">Is NET Difficult?</a></li>
			</ul>
		</li>
		<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#overview">An Overview of the Test</a>
			<ul>
				<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#marks-distribution">Marks Distribution</a></li>
			</ul>
		</li>
		<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#registration">Registration Process</a>
			<ul>
				<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#needed-docs">What You'll Need</a></li>
				<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#registering">How to Register</a></li>
				<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#after-registering">After Registering</a></li>
			</ul>
		</li>
		<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#environment">The Environment</a>
			<ul>
				<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#inside">Examination Hall Environment</a></li>
				<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#not-allowed">What You're not Allowed to Bring</a></li>
			</ul>
		</li>
		<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#admission">Admission Requirements</a>
			<ul>
				<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#medical">Marks Needed in NUST Medical Test</a></li>
				<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#engineering">Marks Needed in NUST Engineering Test</a></li>
				<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#business">Marks Needed for NUST Business School</a></li>
				<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#selection">Selection Procedure</a></li>
			</ul>
		</li>
		<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#scoring">How to Score Enough (Or More)?</a>
			<ul>
				<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#should-join-academy">Should I Join an Academy for Entry Test Preparation?</a></li>
				<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#deal-mcqs">Dealing With MCQs</a></li>
				<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#time">Will I Have Enough Time?</a></li>
			</ul>
		</li>
		<li><a href="articles/your-ultimate-guide-to-net(NUST-entry-test)/#solution">Our Solution &dash; NET Mockup</a></li>
	</ol>
</section>

<h2 id="intro">Introduction</h2>
<section>
	<h3 id="what-why">What is NET? And Why Should You Care?</h3>
	<p><strong>NET</strong> stands for <strong>N</strong>UST <strong>E</strong>ntry <strong>T</strong>est (so it's better if we use the short version). I don't think it needs further description. It is an entry test held specifically for the purpose of admission in NUST.</p>

	<p>Well if you want to take admission in NUST, you have to take this test. Why? Because it has 75% weightage in overall aggregate for admission in university (will talk about this part more later on). So you just don't need to take it, YOU NEED TO ACE IT! (Don't worry we will definitely help you through this part).</p>

	<h3 id="net-1-2-3">NET-1, NET-2, NET-3?</h3>
	<p>Considering the number of candidates that apply every year, they decided to hold NET three times a year. If you score well in NET-1, you don't need to take part in NET-2. There is also a rumor that NET-1 is the easiest, NET-2 is more difficult and NET-3 is the most difficult. <em>iss keh peechay koey sach nahe hae</em> so it's best not to give heed to these rumors and always "give it your all".</p>

	<table class="bordered">
		<thead>
			<tr>
				<td>Series</td>
				<td>Online Registration Dates</td>
				<td>Conducted</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>NET-1</td>
				<td>October - November</td>
				<td>December</td>
			</tr>
			<tr>
				<td>NET-2</td>
				<td>March</td>
				<td>April</td>
			</tr>
			<tr>
				<td>NET-3</td>
				<td>June</td>
				<td>July</td>
			</tr>
		</tbody>
	</table>
	<small>(Source: http://www.nust.edu.pk/Admissions/Under-Graduate/Pages/Dates-to-Remember.aspx)</small>

	<h3 id="net-difficult">Is NET Difficult?</h3>
	<p>Let's talk about the level of difficulty of the test:</p>

	<ul>
		<li>It's completely MCQ based, so, either you are right or you are wrong, you don't get half marks. So you won't get an "A for effort". Either it's a 1 or 0.</li>
		<li>The test is 3 hours long, which means you need to keep your concentration at peak for 3 whole hours, and it's definitely not <em>ratta</em>, which means your understanding of the topic will be tested not your knowledge of the topic.</li>
		<li>And it's not just 3 hours, it's "3 hours and multiple subjects". Before this you are probably used to "1 subject paper a day", but now you have to do "4 subjects paper a day in 3 hours (no break)".</li>
		<li>This leads us to the fourth problem. After two hours or so your brain gets exhausted and it creates a very bad temptation of recklessly marking/shading the choices. "Sub-consciously" you start giving less thought to the question at hand and start giving more attention at completing the entire paper, without considering if you are doing it correct or not.</li>
	</ul>

	<p>The above points were not to break your confidence but to give you an idea of what you are up against. So, worry not we will talk about tackling these MCQs in the later section.</p>
</section>

<h2 id="overview">An Overview of the Test</h2>
<section>
	<h3 id="marks-distribution">Marks Distribution</h3>
	<p>There are a total of 200 MCQs, distributed as follows:</p>

	<ol>
		<li>80 from Mathematics/Biology</li>
		<li>60 from Physics</li>
		<li>30 from Chemistry/Computer Science</li>
		<li>20 from English</li>
		<li>10 from IQ (Intelligence)</li>
	</ol>

	<h4>Mathematics</h4>
	<p>As the above distribution should have made it clear, Mathematics is the most important section of this test.
Majority of mathematics MCQs are from the most important chapters and topics of F.Sc:</p>

	<ul>
		<li>Permutations, Combinations, and Probability</li>
		<li>Sigma/Summation notation</li>
		<li>Arithmetic and Geometric Series</li>
		<li>Limits, Derivatives and Integrals</li>
		<li>Conic Sections</li>
	</ul>

	<h4>Biology</h4>
	<p>Biology is the substitute for Mathematics in medical test. So you should give it the same importance as engineering students give to mathematics. In case of Biology, almost 60 of 80 MCQs are straight out of your F.Sc book (with a little twist). So this section is mostly about your memory, but you should not take that for granted.</p>

	<h4>Physics</h4>
	<p>For Physics, following topics are of importance:</p>

	<ul>
		<li>Projectile motion</li>
		<li>Forces and Work</li>
		<li>Circular motion</li>
		<li>Simple Harmonic Motion</li>
		<li>Optics and Optical instruments</li>
		<li>Electro-magnetism and Induction</li>
		<li>Alternating Current</li>
		<li>Modern and Nuclear Physics</li>
	</ul>

	<p>But don't restrict yourself to only these topics. It would be better to revise whole F.Sc/Intermediate syllabus.</p>

	<h4>Chemistry/Computer Science</h4>
	<p>It is the easiest part of the test (both Chemistry and Computer Science). As all Chemistry students know that Organic chemistry can be a little difficult and simple at the same time, so they should be a little cautious.</p>

	<h4>English</h4>
	<p>This section gets many students worried because of the extremely difficult synonyms and antonyms. That is true since you might have never heard of those words (and never will again, after the test).</p>

	<p>Other than that, a critical reading passage and 2 - 3 analogies may appear.</p>
</section>

<h2 id="registration">Registration Process</h2>
<section>
	<h3 id="needed-docs">What You'll Need</h3>
	<p>For NET registration, you would need to upload recent passport sized photograph with plain background and fill in appropriate and authentic details such as your CNIC, your fathers CNIC, your O'levels/Matric marks, Intermediate marks, and etc.</p>

	<h3 id="registering">How to Register</h3>
	<p>Steps to register are simple:</p>

	<ol>
		<li>Go to <a href="https://ugadmissions.nust.edu.pk/">https://ugadmissions.nust.edu.pk/</a></li>
		<li>Under &ldquo;NUST Entry Test (NET-X) Application Form 20XX&rdquo; click on &ldquo;Register Now&rdquo;</li>
		<li>Fill in the appropriate details and print out the fee receipt.</li>
		<li>Submit the fee in the nearest back.</li>
	</ol>

	<p>If you want your test to happen on the last dates of the entrance exams, you should apply on the last dates of the registration, but <b>not too late</b>.</p>
</section>

<h2 id="environment">The Environment</h2>
<section>
	<a href="https://www.google.com/maps/place/NUST+Exam+Hall/@33.6436437,72.9837613,16.75z/data=!4m5!3m4!1s0x0:0xce9cbf4816c05509!8m2!3d33.6416299!4d72.9836429?hl=en-US" target="_blank">
		<img src="./images/articles/your-ultimate-guide-to-net(NUST-entry-test)/nust-map.jpg" class="full-width">
		<div class="center"><small>NUST location on Google Maps.</small></div>
	</a>

	<h3 id="inside">Examination Hall Environment</h3>
	<p>Nothing much to say here, one thing is for sure, It's BIG, and I found the invigilators to be quite frank as long as you don't pull some crazy
	cheating stunts. As for the atmosphere, in my perspective it's neither tense nor relaxed, it simply mimics your own state of mind. So keep a cool head. In short <em>Mahool dekh ker tension na leh na, chill rehna.</em></p>

	<h3 id="not-allowed">What You're not Allowed to Bring</h3>
	<p>Well to keep it short and simple:</p>

	<ol>
		<li>No electronics (Calculator, smart phone, etc).</li>
		<li>No rough/extra sheets or paper, and pens/pencils (they provide it there).</li>
		<li>They also provide water bottles so no need to bring those either.</li>
	</ol>

	<p>Just bring your <strong>Roll number slip</strong> and <strong>Identification</strong> requirements.</p>
</section>

<h2 id="admission">Admission Requirements</h2>
<section>
	<p class="center" style='margin-bottom:9.0pt;line-height:18.75pt'><em><span style='font-size:16pt;font-family:
	"Georgia","serif"'>&ldquo;We aim above the mark to hit the mark.&rdquo;</span></em></p>

	<p>The information below will give an approximation of how much you need to score in order to secure admission in your desired NUST College.</p>

	<h3 id="medical">Marks Needed in NUST Medical Test</h3>
	<p>Approximate requirements for medical students:</p>

	<table class="bordered">
	 <thead>
	  <tr>
	   <td>Marks</td>
	   <td>NUST College</td>
	  </tr>
	 </thead>
	 <tr>
	  <td>140+</td>
	  <td>Applied Bio-sciences at Atta-ur-Rehman School of Applied Bio-sciences.</td>
	 </tr>
	</table>

	<h3 id="engineering">Marks Needed in NUST Engineering Test</h3>
	<p>Following are the approximate scores needed to secure admission in relevant NUST Colleges:</p>

	<table class="bordered">
	 <thead>
	  <tr>
	   <td>Marks</td>
	   <td>NUST College</td>
	  </tr>
	 </thead>
	 <tr>
	  <td>150+</td>
	  <td>You may get a scholarship in your desired college</td>
	 </tr>
	 <tr>
	  <td>145 - 150</td>
	  <td>Mechanical/Electrical at SMME or SEECS (H-12 Campus)</td>
	 </tr>
	 <tr>
	  <td>140 - 145</td>
	  <td>EME  or at H-12 (Mechanical or Electrical)</td>
	 </tr>
	 <tr>
	  <td>130 - 140</td>
	  <td>Chemical at H-12, Aeronautics at CAE Risalpur, Mechanical at PNEC (Karachi Campus)</td>
	 </tr>
	 <tr>
	  <td>125 - 130</td>
	  <td>Electrical at PNEC, IT/CS related field at H-12, Civil at Risalpur, Telecommunications at MCS</td>
	 </tr>
	 <tr>
	  <td>120 - 125</td>
	  <td>Electrical or I&amp;M at PNEC</td>
	 </tr>
	 <tr>
	  <td>115 - 120</td>
	  <td>Environmental at H-12, I&amp;M at PNEC</td>
	 </tr>
	 <tr>
	  <td>< 115</td>
	  <td>You will probably need to try again.</td>
	 </tr>
	</table>

	<h3 id="business">Marks Needed for NUST Business School</h3>
	<p>For NBS, the weightage of each portion of the entry test is:</p>

	<table class="bordered">
	 <thead>
	  <tr>
	   <td>Subject</td>
	   <td>Marks</td>
	   <td>Weightage</td>
	  </tr>
	 </thead>
	 <tr>
	  <td>Quantitative Mathematics</td>
	  <td>80</td>
	  <td>40%</td>
	 </tr>
	 <tr>
	  <td>Communication skills (English)</td>
	  <td>80</td>
	  <td>40%</td>
	 </tr>
	 <tr>
	  <td>Intelligence (IQ)</td>
	  <td>40</td>
	  <td>20%</td>
	 </tr>
	</table>
	<small>Source: <a href="http://www.nbs.edu.pk/admission_guideline.html" target="_blank">NBS Admission Guidelines.</a></small>

	<p>You will need to score at least 115 in the entry test to be considered for interview/admission. The weightage of entry test is 70%, so you should focus on it, and not worry even if you don't have very good marks in Matric and/or F.Sc.</p>

	<p>As for important chapters and topics, for <strong>Mathematics</strong> chapter 4, 6 and 7 (1<sup>st</sup> year), and chapter 1 (2<sup>nd</sup> year) will be the most important. For <strong>English</strong>, you will need to learn a lot of synonyms and antonyms, for which the Internet is your best friend.</p>

	<h3 id="selection">Selection Procedure</h3>
	<p>Final selection of candidates is based on merit calculated on the basis of an aggregate score based on the following:</p>

	<table class="bordered">
	 <thead>
	  <tr>
	   <td>Criteria</td>
	   <td>Weightage</td>
	  </tr>
	 </thead>
	 <tr>
	  <td>NET</td>
	  <td>75%</td>
	 </tr>
	 <tr>
	  <td>F.Sc/A Level/Equivalent or F.Sc Part - I</td>
	  <td>15%</td>
	 </tr>
	 <tr>
	  <td>Matric/O Level*</td>
	  <td>10%</td>
	 </tr>
	</table>

	<p>* O/A Level candidates who are in A Level (final year) will be assigned 25% weighting to their O Level equivalence marks as per equivalence certificate issued by IBCC.</p>
</section>

<h2 id="scoring">How to Score Enough (or More)?</h2>
<section>

	<img src="./images/articles/your-ultimate-guide-to-net(NUST-entry-test)/featured1.jpg" class="full-width" alt="A vast examination hall. You will give NET in a similar one." />

	<h3 id="should-join-academy">Should I Join an Academy for Entry Test Preparation?</h3>
	<p>Well it is definitely up to you, because, if you think that you can't study at home and you need a serious atmosphere to prepare or if you need help with some topics or a subject which only a professional can give. Then you should 'consider' joining an academy.</p>

	<p><strong>However, I still think it is not worth joining an academy</strong>, from personal experience, if you are motivated enough, then you don't need to worry about a "serious atmosphere" and as for help in subjects, you have us: NotesNetwork team is working day and night to provide you with enough free resources to help you ace an entrance exam.</p>

	<p>Furthermore, earlier in the above paragraph I stated "from personal experience". Well I also joined an academy while considering the discussed problem and so from my own experience I can say it is definitely not worth it.</p>

	<p>Now let's talk about other things which make people consider joining an academy/coaching session:</p>

	<p><h4 style="display: inline;">Shortcut Techniques: </h4>Obviously, the whole purpose of an Entrance Exam coaching session is to teach you how to ace those exams, and knowing shortcut techniques to the MCQs plays a large part in acing the test. However, You can find the same or better shortcut techniques to a topic for FREE on the internet than in an academy, which you might not have heard since you were probably sleeping through the lesson.</p>

	<p><h4 style="display: inline;">Past Papers and Notes: </h4>Let me put an end to this myth once and for all. There is no such thing as entry test past papers; universities don't give away their previous papers like some Intermediate examination board. Academies make "sample papers" from what they've heard from students who gave those exams, nothing more and nothing less. If you still find this "intriguing", you might want to consider the fact that you'll find more useful sample papers online than in any university.</p>

	<p><h4 style="display: inline;">Good Teachers: </h4>Yeah, they do have good and experienced teachers. But all they teach are the shortcut techniques, which we have discussed about above. Other than that, they revise the whole F.Sc syllabus which you can do all by yourself.</p>
	
	<h3 id="deal-mcqs">Dealing With MCQs</h3>
	<p>This is the most important section of this article (and the simplest one also). You won't have any "Short Questions" or "Long Questions" like you did in intermediate, you'll be facing MCQs and MCQs alone. So, tackling MCQs should be your main concern.</p>

	<p>Here is what you should do:</p>

	<ul>
		<li>PRACTICE PRACTICE PRACTICE (can't stress this enough). Collect 200 MCQs of a topic and solve them in less than 3 hours (without any break).</li>
		<li>It is preferred to devote maximum time to Mathematics and Physics because that will cover almost all of your paper. <em>In donno per itnee practice kero k hath set ho jaye</em>.</li>
		<li>Make sure to give every question maximum of 3 minutes no more than that, and go from easy MCQs to difficult MCQs. Meaning, don't go in order of 1, 2, 3 . . . 200. Start with those that you can do in an instant <em>jo aek nazar mein ho jaein</em>, than leave those that are more time consuming for the last.</li>
		<li>This way you would have covered maximum questions in minimum time without wasting any time.</li>
	</ul>
	
	<h3 id="time">Will I Have Enough Time?</h3>
	<p>If you start preparing after second year exams, you will have almost a month to prepare for it. Which is more than enough considering the fact that you have completed your entire F.Sc syllabus, that means 60-65% of your preparation is already done!</p>

	<p>Now all you need to do is is focus on MCQs only.</p>
</section>

<h2 id="solution">Our Solution &dash; NET Mockup</h2>
<section>
	<p>Here at NotesNetwork, we have built the ultimate solution for you. An online mock-up exam of NET, which has the same GUI (graphical interface) as the computer-based NET (which is held at Islamabad). It is completely free, and thoroughly tests your preparation for the NET.</p>

	<div class="center">
		<a href="http://notesnetwork.org/online-tests/NET/" onclick="javascript:ga('send', 'event', 'Marketing', 'Clicked', 'Sent from article to NET mock-up');" target="_blank"><button class="ghost-btn btn-blue btn-lg">TRY IT NOW!</button></a>
	</div>

	<h4>Have Any Questions? Ask us anything in the comments!</h4>
</section>