<p>Here we present the best of the best online free resources you can use to increase your understanding of Computer Science and the art of programming, so you can stay ahead from the rest of the crowd.</p>



<h2 id="1-getting-comfortable">1. Getting Comfortable</h2>

<p>First of all, if you are not even comfortable with computers, it will be impossible for you to get along with coding, let alone be good at it. I’ve even seen some students who are scared of MS-Word and MS-Excel.</p>

<p>For that, I suggest you start with <strong>HTML</strong> (Hyper Text Markup Language). Though, not a programming language, it will definitely make you comfortable with writing code. And if you have time and willpower, learn <strong>CSS</strong> (Cascading Style Sheets) along with HTML. That way, you will be able to make more than basic webpages.</p>

<p><a href="https://www.w3schools.com/">W3Schools</a> and <a href="https://www.codecademy.com/">Codecademy</a> are some of the best places to get started with HTML and CSS.</p>



<h2 id="2-cs50-introduction-to-computer-science">2. CS50: Introduction To Computer Science</h2>

<p>Now is the time to decide whether Computer Science is for you or not. Harvard’s <em>Introduction To Computer Science And The Arts Of Programming</em>, will help you decide that.</p>

<p>Seriously, this is the best thing on the internet to introduce you to computer science. Taught by professor <a href="https://en.wikipedia.org/wiki/David_J._Malan">David J. Malan</a>, CS50 will teach you the art of computer programming and computer science. Using C language, you will learn the basic constructs of a computer program, pointers, data structures and the art of problem solving. Later on you will learn about the web, and how to make web applications. CS50 used PHP for this part of the course, but now it uses Python which makes it even more exciting.</p>

<div><iframe src="https://www.youtube.com/embed/FsYdgKO4AQU?ecver=2" width="640" height="360" allowfullscreen=""></iframe></div>

<p>It is available on <a href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x">Edx for free</a> (You can also pay for a verified certificate). You can work on it at your own pace. If you stick to it, you will be able to complete it in less than 5  months. Once you complete it, you will do great in your academic career and beyond (Believe me, you will learn more from this than your entire time at university).</p>



<h2 id="3-codingame-hackerrank">3. CodinGame &amp; Hackerrank</h2>

<p>Step up you coding skills by practicing on these new innovative platforms. These platforms are better explained in their own words, “<em>The new way to improve your programming skills while having fun and getting noticed</em>.”</p>

<p><a href="https://www.codingame.com/start">CodinGame</a> allows you to write the logic for games their experts have created. Along the way you learn new concepts while solving fun challenges. What’s more, you can also participate in worldwide tournaments from your home. You can win prizes and also get a well-paying job if you perform good in these competitions.</p>

<p><a href="https://www.hackerrank.com/">Hackerrank</a> provides simple to complex problems for you to solve in the language of your choice. You can participate in competitions, and even create your own competitions. You can find good jobs here, too.</p>



<h2 id="4-networking-fundamentals">4. Networking Fundamentals</h2>

<p>It is quite essential to learn how the Internet (“computer networks”, to be more specific) work. <a href="https://mva.microsoft.com/en-us/training-courses/networking-fundamentals-8249?l=zcmNgKKy_1704984382">Microsoft’s Networking Fundamentals</a> is the best short course available online which will explain everything you need to know, including LAN, WAN, Internet and the different protocols you use daily without ever knowing about them.</p>

<p>Now that I have mentioned this course, I would also like to say that <a href="https://mva.microsoft.com/">Microsoft Virtual Academy</a> is a great resource for learning different technical topics, and Microsoft technologies specifically.</p>



<h2 id="5-design-patterns">5. Design Patterns</h2>

<p>If you have completed CS50, or have done some web development, chances are you know JavaScript. But do you know it enough to write professional code? Udacity’s <strong>JavaScript Design Patterns</strong> will not only allow you to write professional JavaScript code for better web applications, but will also give a deeper understanding of the <strong>MVC</strong> (Model View Controller) design pattern, which will improve your coding in general.</p>

<p>See <a href="">JavaScript Design Patterns</a> to get started right now.</p>



<h2 id="6-automata-theory">6. Automata Theory</h2>

<p>The Automata theory is one hell of a thing. Though not as fun as Harvard’s CS50, <a href="https://lagunita.stanford.edu/courses/course-v1:ComputerScience+Automata+SelfPaced/about">Standford’s Automata Theory</a> online course is the best thing you would find online on the subject.</p>

<p>The reason I’m including this here is because the topic is quite perplexing and extremely important. It forms the foundation for compilers and programming languages.</p>

<p>The only prerequisite for this is Discrete Mathematics. <a href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-042j-mathematics-for-computer-science-fall-2010/video-lectures/">MIT’s Mathematics for Computer Science</a> is a good online course on it, and is sure to help you.</p>



<h2 id="7-the-nature-of-code-daniel-shiffman">7. The Nature of Code - Daniel Shiffman</h2>

<p>Daniel Shiffman has written an amazing book, <em>The Nature of Code</em> which focuses on the programming strategies and techniques behind computer simulations of natural systems using the programming language Processing. It’s purpose is explained in these questions on the book's website, “<em>How can we capture the unpredictable evolutionary and emergent properties of nature in software? How can understanding the mathematical principles behind our physical world help us to create digital worlds?</em>”</p>

<p>You can <a href="http://natureofcode.com/book/introduction/">read it online</a> for free or <a href="http://natureofcode.com/">buy it</a> to support the author. You should also subscribe to Daniel Shiffman’s YouTube channel <a href="https://www.youtube.com/user/shiffman">The Coding Train!</a> for learning amazing things about computer programming and algorithms.</p>

<div><iframe src="https://www.youtube.com/embed/PBsUD40nPkI?ecver=2" width="641" height="360" allowfullscreen=""></iframe></div>



<h2 id="8-khanacademy">8. Khanacademy</h2>

<p>Khanacademy is the best website for learning really any subject. Whether it’s Physics, Mathematics, Biology, or Economics, Khanacademy has got you covered. There’s also an amazing section on <a href="https://www.khanacademy.org/computing">Computer Science</a> which explains different topics like Programming, Algorithms, and Cryptography.</p>

<p>Recently, they have started a new series on Computer Animation by Pixar studios, called <a href="https://www.khanacademy.org/partner-content/pixar">Pixar In A Box</a>.</p>



<h2 id="9-sitepoint">9. SitePoint</h2>

<p><a href="https://www.sitepoint.com/">SitePoint</a>, founded in 1999, is a website which publishes articles for web developers, designers, programmers, product creators and entrepreneurs alike. They also create premium online courses on different topics.</p>

<p>You can learn a lot by visiting SitePoint once in a while.</p>



<h2 id="10-tutsplus">10. TutsPlus</h2>

<p>Envato <a href="https://tutsplus.com/">Tuts+</a> publishes articles and tutorials in a wide range of categories, from Design &amp; Illustration to Business and Music/Video. They also provide online courses and eBooks.</p>

<h4>Share this with others who might find it helpful. If you have any other useful resources, then let us know in the comments!</h4>