Options +FollowSymLinks
RewriteEngine on

# add trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ %{REQUEST_URI}/ [L,R=301]

ErrorDocument 404 /app/templates/404.php

RewriteRule ^notes/(.*)/$ notes.php?grade=$1

RewriteRule ^notes/$ notes.php

RewriteRule ^past-papers/$ past_papers.php

# server.php (notes and past papers)

RewriteRule ^content/notes/(.*)/(.*)/(.*)/(.*)/$ server.php?category=notes&grade=$1&subject=$2&chapter=$3&type=$4

RewriteRule ^content/past-papers/(.*)/(.*)/(.*)/$ server.php?category=past_papers&grade=$1&subject=$2&year=$3

RewriteRule ^articles/(.*)/$ articles.php?uri=$1

RewriteRule ^articles/$ articles.php

RewriteRule ^online-tests/(.*)/$ otests.php?test=$1

RewriteRule ^online-tests/$ otests.php

# login & profile shit below

RewriteRule ^profile/(.*)/(.*)/$ members.php?profile=$1&test=$2

RewriteRule ^profile/(.*)/$ members.php?profile=$1

RewriteRule ^login/$ members.php?login

RewriteRule ^account/$ members.php